node_modules
*.md
*.sh
*.sql

code.js
collected-code.txt
.env


.next
/.next
admin/.next
admin/.next/
/admin/.next
/admin/.next/
.next/
.next/
out/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*